.container {
    display:flex;
    flex-wrap: wrap;
}

.box {
    width:100%;
}


@media screen and (min-width:780px){
    #container2 {
        width:100%;
    }
    .img1 {
        width:50%;
    }
    .img2 {
        width:50%;
    }

}

